# Ignore
Dataset/images/
Dataset/labels/
Dataset/masks/


Model/runs/
Model/yolo8n-seg.pt
Model/config.yaml

prepare_data/__pycache__


prepare_data/files_from_OpenImages/
prepare_data/filtered_lists/
prepare_data/Outputs/
prepa

yolo11n.pt
yolov8n-seg.pt

.python-version
