# Ignore
Dataset/images/
Dataset/labels/
Dataset/masks/


Model/runs/
Model/yolo8n-seg.pt
Model/config.yaml

prepare_data/_pycache_/


prepare_data/files_from_OpenImages/
prepare_data/fitered_lists/

yolo11n.pt
yolov8n-seg.pt
