# Ignore
Dataset/images
Dataset/labels
Dataset/masks

!gitignore

Model/runs
Model/yolo8n-seg.pt

prepare_data/pycache

prepare_data/files_from_OpenImages
prepare_data/fitered_lists

yolo11n.pt
yolo8n-seg.pt
